<div class="row justify-content-between align-items-center">
  <h1 class="col-auto">Clément de La Bourdonnaye</h1>

  <div class="col-auto">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn en">
        <input type="radio" name="lang" autocomplete="off" value="en-US" [(ngModel)]="lang">
      </label>
      <label class="btn fr">
        <input type="radio" name="lang" autocomplete="off" value="fr-FR" [(ngModel)]="lang">
      </label>
    </div>
  </div>
</div>
<hr />

<h2>{{ 'WHO_AM_I_TITLE' | translate }}</h2>
<p [innerHTML]="'WHO_AM_I_TEXT' | translate"></p>

<h2>{{ 'SKILLS_TITLE' | translate }}</h2>
<app-skills></app-skills>

<h2>{{ 'PROJECTS_TITLE' | translate }}</h2>
<app-projects></app-projects>

<h2>{{ 'CP_TITLE' | translate }}</h2>
<app-competitive-programming></app-competitive-programming>

<h2>{{ 'CONTACT_TITLE' | translate }}</h2>

<div *ngFor="let link of links" class="row">
  <a href="{{ link.link }}" class="col-lg-6 col-12" [ngClass]="link.class">
    <fa-icon [icon]='link.icon' class="fa-3x fa-fw d-inline-block align-middle"></fa-icon>
    <h3 class="text-dark align-middle d-inline">{{ link.text }}</h3>
  </a>
</div>
