<h1>Clément de La Bourdonnaye</h1>

<hr/>

<h2>Qui suis je?</h2>
<p>Etudiant en 1ère année de cycle ingénieur à l'<b>Université de Technologie de Troyes</b> en Informatique et Système d'Information. Je suis passioné d'informatique et de programmation en général.</p>

<h2>Mes compétences</h2>
<app-skills></app-skills>

<h2>Mes projets</h2>
<app-projects></app-projects>

<h2>Contact</h2>

<p>Vous pouvez me contacter par mail à l'adresse suivante : <a href="mailto:cle.bourdonnaye@gmail.com">cle.bourdonnaye@gmail.com</a></p>
<p>Mon CV est également disponible ici : <a href="/assets/cv_clement_de_la_bourdonnaye.pdf">CV</a></p>