<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom border-primary">
  <a class="navbar-brand mr-auto" href="#">Clément de La Bourdonnaye</a>

  <ng-container *ngFor="let link of links">
    <a href="{{ link.link }}" [ngClass]="link.class" class="btn mr-2 px-3 py-1">
      <fa-icon [icon]='link.icon' class="fa-fw" title="{{ link.text }}"></fa-icon>
    </a>
  </ng-container>
  <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
    <label class="btn en px-3 py-1">
      &nbsp;
      <input type="radio" name="lang" autocomplete="off" value="en-US" [(ngModel)]="lang">
    </label>
    <label class="btn fr px-3 py-1">
      &nbsp;
      <input type="radio" name="lang" autocomplete="off" value="fr-FR" [(ngModel)]="lang">
    </label>
  </div>
</nav>

<section class="bg-dark">
  <blockquote class="container blockquote">
    <fa-icon class="app-bg-quote" [icon]="faQuoteLeft"></fa-icon>
    <span [innerHTML]="'WHO_AM_I_TEXT' | translate"></span>
  </blockquote>
</section>

<section class="bg-dark">
  <div class="container">
    <app-experiences></app-experiences>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <h2 id="SKILLS_TITLE">{{ 'SKILLS_TITLE' | translate }}</h2>
    <app-skills></app-skills>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <h2 id="PROJECTS_TITLE">{{ 'PROJECTS_TITLE' | translate }}</h2>
    <app-projects></app-projects>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <h2 id="CP_TITLE">{{ 'CP_TITLE' | translate }}</h2>
    <app-competitive-programming></app-competitive-programming>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <h2 id="CONTACT_TITLE" class="row">{{ 'CONTACT_TITLE' | translate }}</h2>

    <div class="row mt-3">
      <div *ngFor="let link of links" class="col-lg-6 col-12 p-1">
        <a href="{{ link.link }}" class="btn text-left w-100" [ngClass]="link.class">
          <fa-icon [icon]='link.icon' class="mr-1 fa-fw d-inline-block align-middle"></fa-icon>
          {{ link.text }}
        </a>
      </div>
    </div>
  </div>
</section>
