section:first-of-type {
  margin-top: 3em;
}

section {
  margin-top: 8em;
  padding: 3em 0;
}

.btn-group-toggle {

  * {
    background-size: cover;
    background-position: center;
  }

  .fr {
    background-image: url("/assets/images/flag-fr.svg");
  }

  .en {
    background-image: url("/assets/images/flag-en.svg");
  }
}
