section:first-of-type {
  margin-top: 3em;
}

section {
  margin-top: 8em;
  padding: 3em 0;
}

.container.blockquote {
  position: relative;
}
.container.blockquote span {
  position: relative;
  z-index: 200;
}
.app-bg-quote {
  position: absolute;
  left: 0px;
  top: -40px;
  font-size: 3em;
  color: rgba($color: #777, $alpha: 0.6);
  z-index: 0;
}


.btn-group-toggle {

  * {
    background-size: cover;
    background-position: center;
  }

  .fr {
    background-image: url("/assets/images/flag-fr.svg");
  }

  .en {
    background-image: url("/assets/images/flag-en.svg");
  }
}
