<button class="btn btn-outline-secondary" (click)="cancel()"><i class="material-icons">arrow_back</i>Retour à la liste des projets</button>
<hr>

<h3>{{project.name}}</h3>
<a [attr.href]="project.repo" class="btn repo btn-outline-primary">Accès au code source</a>

<p>Réalisé en {{project.year}}</p>

<p *ngIf="!project.commented">Le projet n'est pas documenté pour le moment.</p>
<p *ngIf="project.demo">Une démo est disponible <a [attr.href]="'./demos/' + project.demo">ici</a>.</p>

<h4>Description</h4>
<markdown [data]="project.description"></markdown>

<div *ngIf="project.role">
  <h4>Mon role dans le projet</h4>
  <markdown [data]="project.role"></markdown>
</div>

<span *ngFor="let tech of project.technologies" class="tech">
  {{tech}}
</span>
<br/>
<span *ngFor="let language of project.languages">
  {{language}}
</span>

<hr>