<div class="mt-md-0 mt-3" id="project-title">
  <h3>{{project.name}}</h3>
  <a [attr.href]="project.repo" class="btn btn-primary float-right">{{ 'VIEW_SOURCE_CODE' | translate }}</a>
</div>
<p>{{ 'PROJECT_MADE_IN_TEXT' | translate }} {{project.year}}</p>

<!--<p *ngIf="!project.commented">Le projet n'est pas documenté pour le moment.</p>-->
<p *ngIf="project.demo">Une démo est disponible <a [attr.href]="'./assets/demos/' + project.demo">ici</a>.</p>

<h4>Description</h4>
<markdown [data]="description() | translate"></markdown>

<div *ngIf="project.role">
  <h4>{{ 'PROJECT_PERSONAL_ROLE_TITLE' | translate }}</h4>
  <markdown [data]="role() | translate"></markdown>
</div>

<span *ngFor="let tech of project.technologies" class="tech">
  {{tech}}
</span>
<br />
<span *ngFor="let language of project.languages">
  {{language}}
</span>
