@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/materia/bootswatch";

p {
  text-align: justify;
}

app-skills>app-skills-view>article {
  background-color: red;
}

.btn {
  cursor: pointer;
}


.background {
  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/background.jpeg");
}

.container {
  background-color: white;
}
