/**
 *	Fichier contenant les classes complexes du site
 */

/*
 * Flexbox appliquées au site
 */
.row_box, .col_box {
	display: flex;
	align-content: stretch;
}

.row_box>*, .col_box>* {
	flex: 1;
}

.row_box>div.col_box {
	flex: 1.3;
}

.row_box>* { /* gestion des margin */
	margin-left: 12px;
}

.row_box>*:first-child {
	margin-left: 0;
}

.row_box {
	flex-direction: row;
}

.col_box {
	flex-direction: column;
}

.row_box>aside { /* asides plus petits */
	flex: 0.3;
	margin-left: 0;
}

/*
 *	Conteneur d'image à taille variable
 */
.image_container {
	display: inline-block;
	overflow: hidden;

	background-image: var(--img); /* variable redéfinie dans l'objet */
	background-size: cover;
	background-position: center;
	
	flex: 0.8;
	min-height: 200px;
}

.col_box>.image_container {
	max-height: 200px;
	margin-bottom: 5px;
}


/*
 *	Classes simples
 */
.hidden {
	display: none;
}

.clear {
	clear: both;
}
.red {
	color: red;
}
.centered {
	text-align: center;
}
.centered {
	text-align: center;
}

img.right, img.left {
	max-width: 20%;
	min-width: 100px;
}

img.right {
	float: right;
	padding-left: 10px;
}
img.left {
	float: left;
	padding-right: 10px;
}
